.contact h4 {
    font-family: 'Allan', cursive;
    padding-top: 0;
    text-align: center;
    font-size: 1.9rem;
}

.contact h2 {
    font-family: 'Allan', cursive;
    font-size: 9rem;
    text-align: center;
    margin: 0 0 2.5rem 0;
    line-height: 80%;
    color: var(--color-primary);
}

.contact h5 {
    font-size: 1.7rem;
    margin: 0;
}

.contact {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.contact__container {
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 12%;
}

.contact__options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact_option-big {
    background: rgba(0, 0, 0, 0.4);
   width: 30%;
   border-radius: 1.8rem;
   text-align: center;
   transition: var(--transition);
}

.contact__option {
   background: rgba(2, 250, 233, 0.15);
   border: 1.5px solid var(--color-primary-variant);
   padding: 1rem;
   border-radius: 1.2rem;
   text-align: center;
   transition: var(--transition);
}

.contact__option:hover {
    background: rgba(2, 250, 233, 0.6);
    border: 1px solid var(--color-primary-variant);
 }

 .contact__desc {
    font-family: 'Caveat', cursive;
    font-size: 1.7rem;
 }

.contact__option-icon{
    font-size: 2.25rem;
    margin-bottom: 0.75rem;
}

.contact__option-a {
    margin-right: 15rem;
}

/*FORM*/
form {
    background: rgba(0,0,0,0);
    margin: auto;
    width: 80%;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}

input, textarea { 
    width: 100%;
    padding: 2.25rem;
    border-radius: 0.75rem;
    background: transparent;
    color: var(--color-white);
    border: 2px solid var(--color-primary-variant);
}
.first__line {
    display: grid;
    grid-template-columns: 35% 63%;
    height: fit-content;
    gap: 2%;
}

/* =============== MEDIA QUERIES (MEDIUM DEVICES) ====================== */

@media screen and (max-width: 1024px) {

    .contact h4 {
        font-size: 1rem;
    }
    
    .contact h2 {
        font-size: 3.5rem;
    }
    .contact__options {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        justify-content: space-between;
    }

    .contact_option-big {
        margin: auto;
        width: 70%;
    }

    form {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .contact h4 {
        font-size: 1rem;
    }
    
    .contact h2 {
        font-size: 3.5rem;
    }
    .contact__options {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        justify-content: space-between;
    }

    .contact_option-big {
        margin: auto;
        width: 100%;
    }

    form {
        width: 100%;
    }

    .first__line {
        height: 3.5rem;
    }
}