    footer {
        margin-top: 3rem;
        background: rgb(106, 247, 177,0.85);
        padding: 0.3rem 0;
        text-align: center;
        transition: var(t--transition);
    }
    

    .footer_copyright {
        font-size: 12px;
        font-style: italic;
        color: var(--color-bg);
    }

    